html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  width: 100%;
  min-height: 100dvh;
  height: 100%;

  font-family: Pretendard, sans-serif;
  font-size: 1.6rem;

  background-color: #fff;

  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}